h5py==3.11.0
matplotlib==3.8.4
mmcv==2.1.0
numba==0.59.1
numpy==1.26.4
pandas==2.2.2
Pillow==10.3.0
prettytable==3.10.0
scikit_learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
webcolors==1.13
